
body
  font-family: Inter, "Source Sans Pro", sans-serif
  margin: 0

input[type=text]
  padding: 7px 5px

button
  background: teal
  border: none
  outline: none
  border-radius: 5px
  color: white
  padding: 5px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer

  &.button-submit
    width: 100%
    text-transform: uppercase
    letter-spacing: 2px
    font-size: 1em
    padding: 15px

  &[disabled]
    background: #cbcbcb
    cursor: default


$spacer-sizes: ("s": 10px, "m": 20px, "l": 40px)

@each $name, $size in $spacer-sizes
  .spacer-#{$name}
    width: $size * 2
    height: $size
    line-height: 0
